<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center mb-4">Login</h2>
          <form (submit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input [(ngModel)]="email"
                     type="email"
                     name="email"
                     class="form-control"
                     required>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input [(ngModel)]="password"
                     type="password"
                     name="password"
                     class="form-control"
                     required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>

          <div class="mt-3 text-center">
            <div class="mb-0">
              Don't Have an account?
              <a routerLink="/register" class="text-decoration-none">Sign up!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
